---
const { nombre, descripcion, fecha, imagen } = Astro.props;
---

<section class="py-5 mb-7">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      
      <div>
        <img 
          src={imagen}
          alt={nombre} 
          class="rounded-lg shadow-lg object-cover w-full h-full"
          width={300}
          height={300}
        />
      </div>

      <div>
        <h2 class="text-3xl md:text-4xl font-bold mb-6">{ nombre }</h2>
        <p class="text-xl text-gray-700 mb-8 whitespace-pre-line">{ descripcion }</p>
        {fecha && <p class="text-gray-500">{ fecha }</p>}
      </div>

    </div>
  </div>
</section>
