---
const {centro} = Astro.props;
---

<div>
    <h3 class="font-semibold text-xl mb-1">Horario:</h3>
    <ul class="text-sm grid grid-cols-1 gap-y-1">
  {
    Object.entries(centro.horario).map(([dia, horas]) => (
      <li><strong>{dia}:</strong> {horas}</li>
    ))
  }
</ul>
</div>