---
import BaseLayout from "@/layouts/BaseLayout.astro";
import listaCentros from "@/content/centros";
import Horario from "@/components/Sections/Horario.astro";


---

<BaseLayout>
    <div class="flex flex-col">
        <h1 class="text-center m-3 mt-6">Centros</h1>
        {
            listaCentros.map(centro => (
                <div class="shadow-md m-3 bg-white rounded-xl flex flex-col">
                    <div class="m-2 p-6 w-auto text-left">
                        <h2>{centro.nombre}</h2>
                        <a href={centro.linkMaps}>📍 {centro.direccion}</a>   
                        <br><br>
                        <Horario centro={centro}/>
                    </div>
            
                </div>
                )
            )
        }
    </div>




</BaseLayout>