---

---

<footer class="bg-gray-900 text-white ">
  <div class="flex flex-col gap-5 m-9">
    <p class="font-bold text-xl">Contacto</p>
  
    <a href="tel:666 666 666">888 888 888</a>
  </div>
  <p></p>
</footer>
