---

---

<footer class="bg-gray-900 text-white pt-16 pb-8">
  <div class="flex flex-col gap-5 m-9">
    <p class="font-bold text-xl">Contacto</p>
  
    <p>678 11 11 11</p>
  </div>
  <p></p>
</footer>
