---
import Navigation from "./Navigation.astro";
---

<header class="fixed top-0 z-50 w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a href="/" class="text-2xl font-bold text-primary-800 font-serif flex items-center">
      <span class="sr-only">Sydney 2000</span>

      <!-- FIXME -->
      <img style="filter: invert(1) sepia(1) hue-rotate(180deg) saturate(5);" width="70" src="/uploads/logo.png">
      

    </a>
    
    <Navigation />
  </div>
</header>